body {
  background: #304352;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: white;
  padding: 10rem 0;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 100%;
}

.btn {
  display: inline-block;
  margin: 1rem 0;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  background: #007ece;
  letter-spacing: 0.02em;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1rem 0.9rem;
  text-decoration: none;
}

.buttoncss {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}

.buttoncss:hover {
  background-color: #008cba;
  color: white;
}
